<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Pedag</title>
</head>

<body>
    <header>
        <h1>Pedag.io</h1>
        <h3>Controle de estacionamento</h3>
    </header>
    <navbar>
        <a>Consultar veículo</a>
        <a>Registros anteriores</a>
    </navbar>
    <main>
        <section>
            <h2>Cadastre uma nova entrada</h2>
            <div>
                <form action="/cadastrar" method="post">
                    <label>Placa do veículo</label>
                    <input type="text" name="placa"/>

                    <label>Hora de entrada</label>
                    <input type="datetime-local" name="hora_entrada"/>

                    <label>Valor Pago</label>
                    <input type="number" name="valor_pago"/>

                    <input type="submit">
                </form>
            </div>
        </section>
        <article>
            <table>
                <th>
                    <td>Placa</td>
                    <td>Hora de entrada</td>
                    <td>Hora de saída</td>
                    <td>Valor pago</td>

                    <!-- Quantidade de vezes que já usou o serviço -->
                    <td>Recorrencia</td>
                    
                    <td>Ações</td>
                </th>
                {% for registro in registros %}
                    <tr>
                        <td>{{ registro.placa }}</td>
                        <td>{{ registro.hora_entrada }}</td>
                        <td>{{ registro.hora_saida }}</td>
                        <td>{{ registro.valor_pago }}</td>
                        <td>{{ registro.recorrencia }}</td>
                        <td>
                            <button><a href="/alterar/{{ registro.id }}">Alterar</a></button>
                            <button><a href="/apagar/{{ registro.id }}">Deletar</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </article>
    </main>
</body>

</html>